<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
    	<a id="navbar-logo" class="navbar-item" href="{{or site.url siteRootPath}}/{{site.homeUrl}}">
    	  <img src="{{uiRootPath}}/img/logo.png" height=50>
    	</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>
